<div class="panel-heading">
    <a href="/archive/<%= archive._id %>"><%= archive.title %></a>
</div>
<div class="panel-body">
    <% var paragraphs = archive.text.contents.split(/\s*\n+\s*/);
       for(var p = 0; p < paragraphs.length; p++) {
           var paragraph = paragraphs[p];
           if(paragraph.length) %>
                <p><%= paragraph %></p>
    <% } %>
</div>
<div class="panel-footer">
    <strong>Source: </strong>
    <% if(archive.source.indexOf("://") > -1) { %>
        <a href="<%= archive.source %>"><%= archive.source %></a>
    <% } if(archive.source.indexOf("://") === -1) { %>
        <%= archive.source %>
    <% } %>

</div>
